<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.classygown">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name="com.classygown.SplashScreen.SplashScreenClassyGownActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomePage.HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleOnly" />

        <activity android:name=".HomePage.ProductDescription"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleOnly"/>

        <activity
            android:name=".HomePage.CartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleOnly" />

        <activity
            android:name=".HomePage.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleOnly" />

        <activity
            android:name=".HomePage.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleOnly" />

        <activity
            android:name=".HomePage.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleOnly" />

        <activity
            android:name=".HomePage.ShippingTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleOnly" />

        <activity
            android:name=".HomePage.ReturnAndExchangesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleOnly" />

        <activity
            android:name=".HomePage.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleOnly" />
    </application>

</manifest>
